body {
	margin: 0;
	background-color:#c3d7de;
	font-family: Bahnschrift;
}

#LogoBox {
	height: 80%;
	width: 25%;
	min-width: 260px;
	max-width: 350px;
	float: left;
	margin: auto;
}

#Logo {
	width: 100%;
	height: auto;
	display: block;

}

#InnerBody {
	width: 80vw;
	min-width: 600px;
	margin: auto;
}

#Header {
	height: 15vh;
	min-height: 150px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	padding: 30px 20px;
	background-color: #6891ad;
	margin: auto;
}

#NavigationBox {
    	margin: 20px auto;
	width: 100%;
    	position: relative;
}

#ContentBox {
	background-color: #f6f6f6;
	height: 1300px;
	width: 100%;
}


#SideBar {
	width: 300px;
	height: 100%;
	background-color: #f68e93;
	transition: 0.5s
}

#Footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.Footer::after {
	content: "";
	display: table;
	clear: both;
}

#footer_info {
	float: left;
	width: 50%;
	height: 25vh;
	background-color: #595958;
	color:  #F2E9EA;
	padding: 1vh 4vh 2vh 4vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
	
ul {
  	margin: 0 2%;
  	padding: 0;
	float: left;
}

li {
  	display: inline;
	float: left;
	background-color: #6891ad;
	

}

li a {
  	display: block;
  	color: white;
  	text-align: center;
	font-size: 2.9vw;
	font-weight: bold;
  	padding: 14px 2vw;
  	text-decoration: none;
}

li a:hover {
  	background-color: #111;
	transition: 0.3s;
	
}

.dropbtn {
	display: block;
  	text-align: center;
	font-size: 30px;
	font-family: Bahnschrift;
  	padding: 14px 2vw;
  	border: none;
	min-width: 160px;
  	
}

.dropdown {
  	position: relative;
  	display: none;

  	left: 30vw;
  	
}

.dropdown-content {
  	display: none;
  	position: absolute;
  	min-width: 160px;
  	z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c3d7de;
}

