body {
	margin: 0;
	background-color:#c3d7de;
	font-family: Bahnschrift;
}

#LogoBox {
	height: 80%;
	width: 25%;
	min-width: 260px;
	max-width: 300px;
	float: left;
	margin: auto;
}

#Logo {
	width: 100%;
	height: auto;
	display: block;

}

.PaddedTextArea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	padding: 20px;
	background-color: #f6f6f6;
}

.PaddedTextArea::after {
	content: "";
	display: table;
	clear: both;
}

#textArea_row {
	float: left;
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	padding: 1vh 4vh 2vh 4vh;
}



.PaddedTextArea h1 {
	text-align: center;
}

#InnerBody {
	width: 80vw;
	min-width: 600px;
	margin: auto;
}

#Header {
	height: 15vh;
	min-height: 160px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	padding: 30px 20px;
	background-color: #6891ad;
	margin: auto;
}

#NavigationBox {
	margin: 20px auto;
	width: 100%;
	position: relative;

}

#ContentBox {
	background-color: #f6f6f6;
	position: relative;
	height: 1300px;
	width: 100%;
	color: black;

}


#ContentArea {
	display: inline-block;
	width: calc(100% - 300px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	transition: 0.5s;
	z-index: 1;
	

}

#SideBar {
	width: 300px;
	height: 100%;
	background-color: #f68e93;
	transition: 0.5s;
	float: left;
	z-index: 5;

}

#Footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.Footer::after {
	content: "";
	display: table;
	clear: both;
}

#footer_info {
	float: left;
	width: 50%;
	height: 250px;
	background-color: #595958;
	color:  #F2E9EA;
	padding: 1vh 4vh 2vh 4vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
	
ul {
  	margin: 0 2%;
  	padding: 0;
	float: left;
}

li {
  	display: inline;
	float: left;
	background-color: #6891ad;
	

}

li a {
  	display: block;
  	color: #F2E9EA;
  	text-align: center;
	font-size: 2.9vw;
	font-weight: bold;
  	padding: 14px 2vw;
  	text-decoration: none;
}

li a:hover {
  	background-color: #111;
	transition: 0.3s;
	
}

.dropbtn {
	display: block;
  	text-align: center;
	font-size: 30px;
	background-color:#a3a3a3;
	font-family: Bahnschrift;
  	padding: 14px 2vw;
  	border: none;
	min-width: 200px;
	transition: 0.5s;
  	
}

.dropdown {
  	position: relative;
  	display: none;
  	left: 27vw;
	z-index: 10;
  	
}

.dropdown-content {
  	display: none;
  	position: absolute;
  	min-width: 160px;
	
  	z-index: 10;
}

.dropdown:hover .dropdown-content {
  	display: block;

}

.dropdown:hover .dropbtn {
  background-color: #c3d7de;
}

.sidebutton {
	min-height: 100px;
	display: block;
	font-size: 50px;
	background-color:#a3a3a3;
	height: 10vh;
	font-family: Bahnschrift;
  	padding: 14px 30px 14px 5px;
  	border: none;
	max-width: 50px;
	position: fixed;
	top: 50%;
	margin-left: 30px;
	transition: 0.5s
}

.sidebutton:hover {
  background-color: #c3d7de;
}

